// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_container {
  text-align: center;
  a {
    text-decoration: none;
  }

}

.custom-btn {
    font-size: 12px;
    padding: 0px;
    color: grey;
}
